
header {
    border: 0.5rem solid coral;
}

.sectionOne {
    border: 0.5rem solid coral;
    height: 100vh;
}

.sectionTwo {
    height: 100vh;
    background-color: #18211f;
    padding: 15px;
    padding-top: 30px;
    .pic2 {
        width: 350px;
        height: 368px;
        
    }
    .pic1 {
        display: none;
    }
    h3 {
        color: #EDDFD2;
        font-family: 'Dosis';
        font-weight: 600;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.1em;
        font-style: normal;
        
    }
    p {
        color: #EDDFD2;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        font-style: normal;
    }
}

.sectionThree {
    border: 0.5rem solid coral;
    height: 100vh;
}

.cookies {
    border: 0.5rem solid coral;
}

footer {
    border: 0.5rem solid coral;
}