
header {
    border: 0.5rem solid coral;
}

.sectionOne {
    border: 0.5rem solid coral;
    height: 100vh;
}

.sectionTwo {
    border: 0.5rem solid coral;
    height: 100vh;
    background-color: #18211F;
}

.sectionTwo h3 {
    border: 1px solid greenyellow;
    color: #EDDFD2;
    
}

.sectionTwo p {
    border: 1px solid greenyellow;
    color: #EDDFD2;

}

.sectionThree {
    border: 0.5rem solid coral;
    height: 100vh;
}

.cookies {
    border: 0.5rem solid coral;
}

footer {
    border: 0.5rem solid coral;
}