
header {
    background-color: aqua;
}

.marsIcon {
    display: flex;
    position: fixed;
    margin-left: 49%;
    height: 3.5rem;
    width: 3.5rem;
}

.checkBtn {
    display: none;
}

.menuBtn {
    display: none;
}

nav {
    left: 0;
    padding-top: 1rem;
    background: transparent;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 8%;
    width: 80vw;
}

a {
    font-size: 1.4rem;
}

h1 {
    font-size: 3.4rem;
    margin-left: 5rem;
    margin-top: 18rem;   
}

.logo {
    font-size: 10.3rem;
    margin-top: 18.8rem;  
    margin-left: 5rem;
}

h4 {
    width: 30rem;
    height: 1.8rem;
    margin-top: 31rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.intro {
    margin-left: 5rem;
    margin-right: 63rem;
    margin-top: 35rem;
}

.trailerBtn {
    margin: 28px 0px 28px 80px;
}

.infoBtn {
    margin: 28px 0px 28px 30px;
}   

footer .marsIcon {
  width: 94px;
  height: 94px;
}

.cookies {
  align-items: center;
  justify-content: space-between;
  padding-right: 7rem;
  padding-left: 7rem;
  box-sizing: border-box;
}
