h1 {
    font-size: 3.4rem;
    margin-left: 5rem;
    margin-top: 22rem;   
}

.logo {
    font-size: 10.3rem;
    margin-top: 22.8rem;  
    margin-left: 5rem;
}

h4 {
    width: 30rem;
    height: 1.8rem;
    margin-top: 35rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.intro {
    margin-left: 5rem;
    margin-right: 58.1rem;
    margin-top: 39rem;
}

.trailerBtn {
    margin: 28px 0px 28px 80px;
}

.infoBtn {
    margin: 28px 0px 28px 30px;
}   