footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 50px;
    align-items: center; 
}

footer .copyright {
    margin-right: 100px;
}

footer .contactInfo {
    margin-right: 400px;
}

.marsIcon {
    width: 70px;
    height: 70px;
}

hr {
    display: none;
}

ul {
    left: 30%;
}